@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,800;1,400;1,500;1,800&display=swap');

.logo {
    position: absolute;
    top: 2%;
    left: 3%;
}


.logo img {
    max-width: 17%;
    height: auto;
    z-index: 9999;
}

.main_form{
    padding: 10px 40px;
}

.money_phone{
    width: 55%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    left: 0;
}

.money_phone img{
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    /* bottom: -10%; */
}

/* body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(43.13deg, #4A93FF 0.96%, rgba(163, 198, 252, 0.2) 78.16%);
    z-index: -50;
} */

body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(43.13deg, #4A93FF 0.96%, rgba(163, 198, 252, 0.2) 78.16%);
    z-index: -50;
  }

.help_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 140%;
}

.signup {
    width: 100%;
    margin: 20px 0;
    background-color: white;
    height: 45px;
    border-radius: 20px;
}

.form-text {
    margin: 5px 0;
    margin-left: 5%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 130%;
    color: #006DD2;
}

.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_text_form {
    font-family: 'Montserrat';
    font-style: normal;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 6%;
    padding-bottom: 6%;
    border: 2px double white;
    background: #D2000D;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 111%;
    line-height: 130%;

    margin-top: 1%;

    border-color: #D2000D;
}   

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: url("../images/background.jpg") no-repeat center;
    background-size: cover;
}

.form {
    width: 50%;
    height: 100vh;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.75);
}

.form-input{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 100%;
    color: #80898E;

    border: none;
    border-bottom: 2px solid#B4B4B4;
    outline: none;
    background-color: transparent;

    margin-left: 5%;
    border-radius: 0;

    width: 100%;
}

.form-input:hover {
    border-bottom: 1px solid #B4B4B4;
    background-color: transparent;

  }
  
.form-input:focus {
border-bottom: 2px solid #B4B4B4;
background-color: transparent;

}

.mobile {
    display: none;
}

.pulse {
    margin: 0;
    height: 60px;
    border: none;
    outline: none;
    background: linear-gradient(269.51deg, #002FA7 -8.01%, #3662D1 35.46%, #0038C7 74.65%, #002A95 128.81%);
    border-radius: 10px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 125%;

}

.pulse {
    -webkit-animation: pulses 3s infinite ease-in-out;
    -o-animation: pulses 3s infinite ease-in-out;
    -ms-animation: pulses 3s infinite ease-in-out;
    -moz-animation: pulses 3s infinite ease-in-out;
    animation: pulses 3s infinite ease-in-out;
}

@-webkit-keyframes pulses {
    0% {
        -webkit-transform: scale(0.9);
        opacity: 0.7;
    }

    50% {
        -webkit-transform: scale(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(0.9);
        opacity: 0.7;
    }
}

@keyframes pulses {
    0% {
        transform: scale(0.9);
        opacity: 0.7;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.9);
        opacity: 0.7;
    }
}



@media (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
    }

    .form {
        width: 100%;
        padding: 0;
        margin-top: 320px;
        height: auto;
    }

    .logo img {
        max-width: 40%;
        height: auto;
    }

    .main_form{
        padding: 20px 15px;
    }

    .pulse{
        width: 90%;
    }

    .form-text {
        margin-left: 9%;
        font-size: 110%;
    }

    .form-input{
        margin: 0 9%;
        font-size: 100%;
    }

    .main_text_form {
        font-size: 100%;
    }

    body:before {
        background: linear-gradient(40.54deg, #4A93FF 13.2%, rgba(163, 198, 252, 0.2) 112.09%);
    }

    .money_phone{
        width: 100%;
        height: 100vh;
        position: absolute;
        overflow: hidden;
        top: 0;
    }
    
    .money_phone img{
        position: absolute;
        /* width: 92%; */
        max-width: 310px;
        height: auto;
        left: auto;
        bottom: 0;
        top: 6%;
        right: -3%;
    }
    
}
